/* ########  Sidetabs Styles  ######### */

/* ~~~~~~~~ Autohiding styles ~~~~~~~~~ */
:root {
 --sidebar-hover-width: 35px;
 --sidebar-visible-width: 225px;
 --sidebar-debounce-delay: 0ms;
 
}
#sidebar-box {
 display: grid !important;
 min-width: var(--sidebar-hover-width) !important;
 max-width: var(--sidebar-hover-width) !important;
 overflow: visible !important;
 height: 100% !important;
 min-height: 100% !important;
 max-height: 100% !important;
}
#sidebar {
 height: 100% !important;
 width: var(--sidebar-hover-width) !important;
 z-index: 200 !important;
 position: absolute !important;
 transition: width 150ms var(--sidebar-debounce-delay) ease !important;
 min-width: 0 !important;
}
#sidebar:hover {
 width: var(--sidebar-visible-width) !important;
}
/* ~~~~~~~~ Hidden elements styles ~~~~~~~~~ */

#sidebar-header {
	display: none !important;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* #################################### */

/* hides the native tabs without changing height */
#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar > .toolbar-items {
  opacity: 0;
  pointer-events: none;
}

/* adjust toolbar position to make use of title bar whitespace left after hiding tabs */
#nav-bar {
  margin-top: -30px;
	margin-right: 138px;
	margin-bottom: 0px;
}

/* hides the tabs and changes the height of title bar */
#tabbrowser-tabs {
  visibility: collapse !important;
}

/* Made the url bar round */
#urlbar-background,#urlbar {
    border-radius: 20px !important;
}

/* Center align url text */
#urlbar .urlbar-input-box { 
     text-align: center !important;
}

/* Change urlbar location from left align*/
#urlbar-container {
    margin-left: 40px !important;
